.barra{
position:fixed;
left:0;
top:0;
height:50px;
width:100%;
background-color: #8B0000;
text-align: center;
	font-family: Calibri;
color: #F0FFFF;
z-index: 2;
}

.linha{
	display: inline;
	
}

a:link
{
	text-decoration: none;

}

a:hover
{
	text-decoration: underline; 
	
}

img{
	border-radius: 100%;
	border: white 2px solid;
	height: 200px;
	width: 200px;
	margin: 5px;
}

.bloco1{
	position: relative;
	float: right;
		
	margin-top: 9em;
	margin-bottom:2em;
	
	padding: 2em;
	border-radius: 1em;
	border: solid 3px White;
	background-color: #8B0000;
	margin-left: 2em;
	width: 40em;
	height: 31.2em;
	z-index:1;
	
	
}

.bloco2{
	
	position:relative;
	float: left;
	
	margin-top: 9em;
	
	padding: 2em;
	margin-bottom: 2em;
	background-color: #F5F5F5;
	
	margin-left:10em;
	border-radius: 1em;
	
	z-index: 1;
}


.bola{
	

	height: 4em;
	width: 4em;
	margin: 0.3em;
	display: block;
	

	
	
}

#texto{
	
	color: #F0FFFF;
	font-family: Calibri;
	

}

#textao
{
	position: relative;
	margin: 8em;
	padding: 3em;
	background-color: White;
	border-radius:1em;
	
}


.corpo
{
	 background-color: #EEE9E9;
	 display:table;
}